/* ESTILO DEL HEADER*/
.Navegacion{
    background-color: cornflowerblue;
}

.NavHeader{
    display: flex;
    justify-content: end;
    align-items: center;
}


/* ESTILO AL MAIN*/

/**.container{
    position: absolute;
}
.texto1{
    position: relative;
}
.texto2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}**/

.section2{
    background-color: antiquewhite;
}
.encabezado{
    display: flex;
    justify-content: space-between;
    
}
.container2{
    display: flex;
    justify-content: space-around;
}
.img1{
    border-radius: 50%;
    border: 1rem solid white;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    margin: 0 auto;
}

.section3{
    background-color: cornflowerblue;
}
.container3{
    display: flex;
    justify-content: space-evenly;
}
.contSoftware{
    display: flex;
    justify-content: center;
}

.section4{
    background-color: aquamarine;
}
.infoTP{
    display: flex;
    justify-content: center;
}
.trabajos{
    display: flex;
    justify-content: space-around;
}
.img2{
    height: 25rem;
    width: 23rem;
    border-top: 2rem solid white;
    border-bottom: 2rem solid white;
    border-radius: 1rem;
}

.section5{
    background-color: maroon;
}
.imgtrabajos{
    display: flex;
    justify-content: space-around;
}
.img3, .img4, .img5 {
    height: 25rem;
    width: 23rem;
    border-top: 2rem solid white;
    border-bottom: 2rem solid white;
    border-radius: 1rem;
}
    